.card {
    text-align: center;
    align-items: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.button {
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family:inherit;
    background-color: #b8aded;
}

.button:hover {
    background-color: #8e62c8;
    cursor: pointer;
}

.img {
    width: 300px;
    margin-bottom: 20px;
}